
  <div class="sidebar__nav nav" uxdAccordian #accordian="uxdAccordian" >
    <nav class="nav__nav-group"  *ngFor="let category of categories"
        #accordianItem="uxdAccordianItem" uxdAccordianItem>
      <button class="nav-group__button" (click)="open(accordianItem)">
        {{ category.label }}
        <span class="glyphicon glyphicon-chevron-down font-tiny"></span>
      </button>
      <ul class="nav-group__list" [ngClass]="{'expanded': accordianItem.expanded, 'collapsed': !accordianItem.expanded}">
          <li class="nav-group__item" *ngFor="let subcategory of category.subcollections">
            <a href="">{{subcategory.label}}</a>
          </li>
        </ul>
    </nav>
  </div>
