<header class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand">
        <span class="brand__icon"><i class="glyphicon glyphicon-leaf"></i></span>
        <span class="brand__name">Pattern Library</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-text navbar-right">
        <li><a href="">Contact Us</a></li>
        <li><a href="">BitBucket</a></li>
        <li><a href="">Bamboo</a></li>
    </ul>
  </div>
</header>
