.cc-card {
    display: block;
    padding: 30px;
    @include boxShadowHelper(2);
    background-color: $white;
    border: 1px solid rgba(black, 0.1);
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    
    &:hover {
        @include boxShadowHelper(4);
    }
    &__title {
        @include margin(0 0);
        @include padding(0 0);
    }
}